@import "bootstrap/scss/mixins/_color-mode.scss";

$color-mode-type: data;

.mediumSeaGreen {
  background-color: #3cb371 !important;
  &:hover {
    background-color: #2e8b57 !important;
  }
  &:active {
    background-color: #2d8653 !important;
  }
}

@include color-mode(dark) {
  .sidebar {
    @extend .bg-dark !optional;
  }
}

@include color-mode(light) {
  .sidebar {
    @extend .bg-light !optional;
  }
}

/* !important for overriding bootstrap styles */
