.mediumSeaGreen {
  background-color: #3cb371 !important;
}

.mediumSeaGreen:hover {
  background-color: #2e8b57 !important;
}

.mediumSeaGreen:active {
  background-color: #2d8653 !important;
}

/* !important for overriding bootstrap styles */
