@import "bootstrap/scss/mixins/_color-mode.scss";
@import "../../variables.scss";

$color-mode-type: data;

.mediumSeaGreen {
  background-color: #3cb371 !important;
  &:hover {
    background-color: #2e8b57 !important;
  }
  &:active {
    background-color: #2d8653 !important;
  }
}

@include color-mode(dark) {
  .sidebar {
    background-color: $dark_background;
  }
}

@include color-mode(light) {
  .sidebar {
    background-color: $light_background;
  }
}

/* !important for overriding bootstrap styles */
