@import "bootstrap/scss/mixins/_color-mode.scss";

$messageBackground1: #675cc6;
$color-mode-type: data;
@include color-mode(light) {
  .messageBackground1 {
    background-color: lighten($color: $messageBackground1, $amount: 10%);
    > {
      .messageAuthorText {
        color: black;
      }
    }
  }
}
@include color-mode(dark) {
  .messageBackground1 {
    background-color: darken($color: $messageBackground1, $amount: 20%);
    > {
      .messageAuthorText {
        color: white;
      }
    }
  }
}
