@import "bootstrap/scss/mixins/_color-mode.scss";
@import "../variables.scss";

$color-mode-type: data;

@include color-mode(dark) {
  .coloredThemeToggler {
    background-color: $darkened_dark_background;
  }
}
@include color-mode(light) {
  .coloredThemeToggler {
    background-color: $darkened_light_background;
  }
}
