@import "bootstrap/scss/mixins/_color-mode.scss";

$color-mode-type: data;

@include color-mode(dark) {
  .coloredSidebarExpander {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
}
