@import "bootstrap/scss/mixins/_color-mode.scss";

$color-mode-type: data;

@include color-mode(dark) {
  .coloredSidebarExpander {
    border: white;
  }
}
@include color-mode(light) {
  .coloredSidebarExpanderr {
    border: black;
  }
}
